{% extends "dalton/layout.html" %}
{% block js %}
    $(window).unload(function(){
        $('#uploadDialog').modal('hide');
    });

    function updateHeading(version) {
        var newstr = '';
        var custom = 0;
        if (version == undefined) {
            version = $('input[name="sensor_tech"]:checked').val();
        }
        version = version.charAt(0).toUpperCase() + version.slice(1);
        mysplit = version.split('/');
        if (mysplit.length > 1) {
            newstr = mysplit[0] + ' ';
            if (mysplit[1].startsWith("rust_")) {
                newstr += mysplit[1].slice(5,);
                if (mysplit.length > 2) {
                        newstr += " (" + mysplit[2] + " - with Rust support)";
                } else {
                    newstr += " (with Rust support)";
                }
            } else {
                newstr += mysplit[1];
                if (mysplit.length > 2) {
                    newstr += " (" + mysplit[2] + ")";
                }
            }
        } else {
            newstr = version;
        }
        document.getElementById("versionHeading").innerHTML = newstr;
    }

	$(document).ready(function() {
		$('#prod_ruleset').show();
		if ($('#optionRuleset').prop('checked')) {
			$('#prod_ruleset').show();
			$('#labelEnableAllRules').show();
			$('#labelShowFlowbitAlerts').show();
		} else {
			$('#prod_ruleset').hide();
			$('#labelEnableAllRules').hide();
			$('#labelShowFlowbitAlerts').hide();
		}
		if ($('#optionRulesetCustom').prop('checked')) {
			$('#custom_ruleset').show();
		} else {
			$('#custom_ruleset').hide();
		}
		if ($('#optionCustomEngineConf').prop('checked')) {
			$('#custom_engineconf').show();
            $('#showHideOptionCustomEngineConf').find('i').removeClass('icon-chevron-right').addClass('icon-chevron-down');
		} else {
			$('#custom_engineconf').hide();
            $('#showHideOptionCustomEngineConf').find('i').removeClass('icon-chevron-down').addClass('icon-chevron-right');
		}

		for(i=1; i < {{max_pcaps}}; i++) {
			if ($('#coverage-pcap'+i).val()) {
				$('#pcap'+i).show();
				if (i == {{max_pcaps}} -1) {
					$('#addpcap').hide();
				}
			}
		}		
        if ({{max_pcaps}} == 1) {
		    $('#addpcap').hide();
        }

		$('#submitjob').submit( function() {
			$('#uploadDialog').modal()
		});

		$('#optionRuleset').click( function() {
			if ($('#optionRuleset').prop('checked')) {
				$('#prod_ruleset').show();
				$('#labelEnableAllRules').show();
				$('#labelShowFlowbitAlerts').show();
			} else {
				$('#prod_ruleset').hide();
				$('#labelEnableAllRules').hide();
				$('#labelShowFlowbitAlerts').hide();
			}
		});

		$('#optionRulesetCustom').click( function() {
			if ($('#optionRulesetCustom').prop('checked')) {
				$('#custom_ruleset').show();
			} else {
				$('#custom_ruleset').hide();
			}        
		});

        $("#overlay").change(function() {
            console.log("Overlay changed");
            readFile(this);
            document.getElementById("overlay").style.display = "none";
          });
           
          var draganddropCounter = 0;
          $(document).on('dragenter', function(e) {
            if(draganddropCounter === 0){ 
                console.log(e.type);
                document.getElementById("overlay").style.display = "block";
            }
            draganddropCounter++;
            e.preventDefault();
            e.stopPropagation();
            
          });
           
          $(document).on('dragleave', function(e) {
            draganddropCounter--;
            e.preventDefault();
            e.stopPropagation();
            if(draganddropCounter === 0){
               console.log("Drag and drop counter === 0")
               document.getElementById("overlay").style.display = "none";
            }
          }); 

          $(document).on('dragover', false).on('drop', function(e) {
            console.log("Document dropped");
            draganddropCounter--;
            e.preventDefault();
            e.stopPropagation();
            draganddropCounter = 0
            document.getElementById("overlay").style.display = "none";
            for(i=0;i<{{max_pcaps}}; i++){ if($('#coverage-pcap'+i).val()){
                //alert("Pcap"+i+" has value");
            }else{
              console.log("Name:"+e.originalEvent.dataTransfer.files[0].name+"\nSetting input "+i+" to file.");
              $('#coverage-pcap'+i).prop("files",e.originalEvent.dataTransfer.files);
              $('#addpcap').click();
              break;
            }  
          };
          }); 

		$('#showHideOptionCustomEngineConf').click( function() {
            $(this).find('i').toggleClass('icon-chevron-right').toggleClass('icon-chevron-down');
		    $('#custom_engineconf').toggle();
            if ($('#custom_engineconf').is(':visible')) {
                $('#optionCustomEngineConf').prop('checked', true);
            } else {
                $('#optionCustomEngineConf').prop('checked', false);
            }
		});

		$('#addpcap').click( function() {
			for(i=1; i < {{max_pcaps}}; i++) {
				if ($('#pcap'+i).is(':hidden')) {
					$('#pcap'+i).show();
					if (i == {{max_pcaps}} - 1) {
						$('#addpcap').hide();
					}
					break;
				}
			}
		});

		$('#resetpcap').click( function() {
			<!-- reset file input fields before making them hidden (important!) -->
			for(i=0; i < {{max_pcaps}}; i++) {
				reset_file_input($('#coverage-pcap'+i));
				if (i > 0) {
					$('#pcap'+i).hide();
				}
			}
            if ({{max_pcaps}} > 1) {
			    $('#addpcap').show();
            }
		});

		function reset_file_input(id) {
			<!--	id.replaceWith(id=id.clone(false).val("")); -->
			id.wrap('<form>').closest('form').get(0).reset();
			id.unwrap();
		}

        function version_compare(ver1, op, ver2) {
            {# manipulate values so it is always ver1 gte ver2 #}
            if (['lt', 'lte', 'gt', 'gte'].includes(op)) {
                try {
                    vals1 = ver1.split('.').map(Number);
                    vals2 = ver2.split('.').map(Number);
                    if (vals1.includes(NaN)
                        || vals2.includes(NaN)
                        || vals1.length == 0
                        || vals2.length == 0) {
                      throw "provided version is not a nubmer.";
                    }
                    while (vals1.length > vals2.length) {
                      vals2.push(0);
                    }
                    while (vals2.length > vals1.length) {
                      vals1.push(0);
                    }
                    if (op.startsWith("lt")) {
                        var temp = vals1;
                        vals1 = vals2;
                        vals2 = temp;
                    }
                    if (!op.endsWith('e')) {
                        vals2[vals2.length - 1] = vals2[vals2.length - 1] + 1;
                    }
                    for (let i = 0; i < vals1.length; i++) {
                        if (vals1[i] > vals2[i]) {
                            return true;
                        } else if (vals1[i] < vals2[i]) {
                            return false;
                        }
                   }
                   return true;
                }
                catch(err) {
                    console.error("Error doing version compare: " + err);
                }
            } else {
                console.error("bad value '" + operator + "' passed to version_compare()");
                return false;
            }
        }

        function show_hide_log_options(sensor_tech) {
            {# Unified2 is dead. Long live unifed2. #}
            {# Suricata 6 ends support for unified2 #}
            if (sensor_tech.startsWith("suri") && Number(sensor_tech.split('/')[1].replace(/^rust_/,"").split('.')[0]) >= 6) {
                $('#optionAlertDetailedDiv').hide();
            } else {
                $('#optionAlertDetailedDiv').show();
            }

            {# EVE log support started with Suricata version 2 #}
            if (sensor_tech.startsWith("suri") && Number(sensor_tech.split('/')[1].replace(/^rust_/,"").split('.')[0]) < 2) {
                $('#optionEveLogDiv').hide();
            } else {
                $('#optionEveLogDiv').show();
            }

            {# Dump Buffer option valid for Suri >= version 2.1 and Snort >= 2.9.9.0 #}
            if ((sensor_tech.startsWith("suri") && version_compare(sensor_tech.split('/')[1].replace(/^rust_/,""), 'lt', '2.1'))
               || (sensor_tech.startsWith("snort") && version_compare(sensor_tech.split('/')[1], 'lt', '2.9.9.0'))) {
                $('#optionDumpBuffersDiv').hide();
            } else {
                $('#optionDumpBuffersDiv').show();
            }

        }

        function show_hide_suricatasc_options(sensor_tech) {
            if (sensor_tech.startsWith("suri") && Number(sensor_tech.split('/')[1].replace(/^rust_/,"").split('.')[0]) >= 3) {
                $('#divUseSC').show();
            } else {
                $('#divUseSC').hide();
            }
        }

        <!-- called when sensor version changed.  Updates engine.conf -->
        $('input[name="sensor_tech"]').change( function() {
            var version = $(this).attr("value")
            console.debug("Version: " + version);
            var new_engine_conf = $.get("/dalton/controller_api/request_engine_conf?sensor=" + version, function( data ) {
                if (data && data != '') {
                    document.getElementById('custom_engineconf_t').value = data;
                    updateHeading(version);
                }
            });
            show_hide_log_options(version);
            show_hide_suricatasc_options(version);
        });
        updateHeading();
        show_hide_log_options($('input[name="sensor_tech"]:checked').val());
        show_hide_suricatasc_options($('input[name="sensor_tech"]:checked').val());
        console.log("Page loaded");
    });
{% endblock %}

{% block body %}
	{% if error != None %}
		<div class="alert alert-error">
			<b>An error occured:&nbsp;</b>{{error}}
		</div>
	{% endif %}

	<div class="row-fluid">
		<div class="span11">
			<form id='submitjob' action="/dalton/coverage/summary" method="post" enctype="multipart/form-data">
				<h2>
				Submit A New Job for <b id="versionHeading">
                <!-- set by Javascript updateHeading(); this doesn't really matter -->
                {% if sensors != None and sensors != '' and sensors|length > 0 %}
                    {% set sensor = sensors[0].split('/') %}
                    {% if sensor|length > 1 %}
                        {{sensor[0]|title}}
                        {% if sensor[1].startswith("rust_") %}
                            {{sensor[1][5:]}} ({% if sensor|length > 2 %}{{sensor[2]}} - {% endif %}with Rust support)
                        {% else %}
                            {{sensor[1]}}{% if sensor|length > 2 %} ({{sensor[2]}}){% endif %}
                        {% endif %}
                    {% else %}
                        {{sensor|title}}
                    {% endif %}
                {% else %}
                    {{sensor_tech|title}}
                {% endif %}
                </b>
				</h2>
				<p>Test pcaps on an IDS sensor against defined and/or ad-hoc rulesets.</p>
				<div class="tabbable tabs-left">
					<ul class="nav nav-tabs">
						<li class='active'><a href="#jobdetails" data-toggle='tab'>Job Settings</a></li>
						{% if not sensor_tech.startswith('zeek') %}
						<li><a href="#sensorconf" data-toggle='tab'>Config Files</a></li>
                        {% endif %}
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="jobdetails">
                            <div class="pcaps_box" id="pcaps">
                            <div class="dropzone-wrapper" id="pcaps_overlay"></div>
							<div style="display:block;width:100%;padding:0;margin-bottom:5px;font-size:21px;line-height:40px;color:#333;border:0;">Packet Captures</div>
                            <p>Please specify a packet capture (libpcap). Depending on the engine, pcapng format may be supported as well.</p>
                            {% if fspcap %}
                                <input type="text" name="fspcap" id="fspcap" readonly="readonly" value={{fspcap}}><p/>
                            {% elif manifest %}
                                <input type="text" name="job-zip" id="job-zip" readonly="readonly" value={{manifest['id'] + '.zip'}}><p/>
                            {% endif %}
                            {% for n in range(max_pcaps|int) %}
                                {% if n != 0 %}
                                    <div id="pcap{{n}}" style="display:none;">
                                {% endif %}
                                    <input type="file" name="coverage-pcap{{n}}" id="coverage-pcap{{n}}" placeholder='Select a PCAP' multiple><p/>
                                {% if n != 0 %}
                                    </div>
                                {% endif %}
                            {% endfor %}

							<div id="addpcap" style="display:inline;">
								<a href="#">Add another pcap</a>
								&nbsp;|&nbsp;
							</div>
							<div id="resetpcap" style="display:inline;">
								<a href="#">Reset Pcaps</a>
							</div>
                            <p>
                            <div>
                                <label class="checkbox" id="labelSplitcap">
                                    <input type="checkbox" name="optionSplitcap" id="optionSplitcap" value="splitcap" {% if manifest and manifest['split-pcaps'] %}checked{% endif %}>
                                    Create separate jobs for each pcap
                                </label>
                            </div>
                        </div>
							<div style="display:block;width:100%;padding:0;margin-bottom:5px;margin-top:25px;font-size:21px;line-height:40px;color:#333;border:0;border-top:1px solid #e5e5e5">Sensor Version</div>
                                {% if sensors != None and sensors != '' and sensors|length > 0 %}
                                    {% for sensor in sensors %}
                                        <!-- TODO: make this a grid instead of a list -->
                                        {% if manifest and manifest['sensor-tech'] == sensor %}
                                            <input type="radio" name="sensor_tech" id="{{sensor}}" value="{{sensor}}" checked><label for="{{sensor}}" class="radio inline">
                                        {% else %}
                                            <input type="radio" name="sensor_tech" id="{{sensor}}" value="{{sensor}}"{% if loop.first %} checked{% endif %}><label for="{{sensor}}" class="radio inline">
                                        {% endif %}
                                            {% set tlist = sensor.split('/') %}
                                            {% if tlist|length > 1 %}
                                                {% if tlist[1].startswith("rust_") %}
                                                    {{tlist[1][5:]}} ({% if tlist|length > 2 %}{{tlist[2]}} - {% endif %}with Rust support)
                                                {% else %}
                                                    {{tlist[1]}}{% if tlist|length > 2 %} ({{tlist[2]}}){% endif %}
                                                {% endif %}
                                            {% else %}
                                                {{sensor|title}}
                                            {% endif %}
                                        </label>
                                        {% if not loop.last %}<br>{% endif %}
                                    {% endfor %}
                                {% else %}
                                    <p style="color:red">No available Dalton Agents (Sensors) for 
                                    {{ sensor_tech.split('/')[0]|title }} 
                                    </p>
                                {% endif %}
                                <p>
                                <div id="divUseSC">
                                    <label class="checkbox" id="labelUseSC">
                                        <input type="checkbox" name="optionUseSC" id="optionUseSC" value="use_sock_control" {% if not manifest or (manifest and manifest['use-suricatasc']) %}checked{% endif %}>
                                        Use Suricata Socket Control Pcap Processing Mode
                                    </label>
                                </div>

						{% if not sensor_tech.startswith('zeek') %}
							<div style="display:block;width:100%;padding:0;margin-bottom:5px;margin-top:25px;font-size:21px;line-height:40px;color:#333;border:0;border-top:1px solid #e5e5e5">Ruleset</div>
							<label class="checkbox">
								<input type="checkbox" name="optionProdRuleset" id="optionRuleset" value="prod" {% if not manifest or (manifest and manifest['prod-ruleset']) %}checked{% endif %}>
								Use a defined ruleset
							</label>
							<span id="prod_ruleset">
								<select name="prod_ruleset" style="width:auto;">
									{% for ruleset in rulesets %}
										<option value="{{ruleset[1]}}">{{ ruleset[0] }}</option>
									{% endfor %}
								</select>
							</span>
							<label class="checkbox" id="labelEnableAllRules">
								<input type="checkbox" name="optionEnableAllRules" id="optionEnableAllRules" value="enableAll" {% if manifest and manifest['enable-all-rules'] %}checked{% endif %}>
								Enable disabled rules
							</label>
							<label class="checkbox" id="labelShowFlowbitAlerts">
								<input type="checkbox" name="optionShowFlowbitAlerts" id="optionShowFlowbitAlerts" value="showFlowbitAlerts" {% if manifest and manifest['show-flowbit-alerts'] %}checked{% endif %}>
								Show all flowbit alerts
							</label>
							<br>
							<label class="checkbox">
    						    <input type="checkbox" name="optionCustomRuleset" id="optionRulesetCustom" value="custom"{% if manifest and manifest['custom-rules'] %} checked{% endif %}>
								Use custom rules
							</label>
							<span id="custom_ruleset">
								<textarea rows='10' class='span'; style='margin-left:0;' name="custom_ruleset" placeholder='alert tcp any any -> any any (msg:"";);'>{% if manifest and manifest['custom-rules'] and custom_rules %}{{custom_rules}}{% endif %}</textarea>
							</span>
							{% endif %}
							<div style="display:block;width:100%;padding:0;margin-bottom:5px;margin-top:25px;font-size:21px;line-height:40px;color:#333;border:0;border-top:1px solid #e5e5e5">Logs</div>
							{% if not sensor_tech.startswith('zeek') %}
                            <div id="optionAlertDetailedDiv">
    							<label class="checkbox">
	    							<input type="checkbox" name="optionAlertDetailed" id="optionAlertDetailed" value="optionAlertDetailed" {% if not manifest or (manifest and manifest['alert-detailed']) %}checked{% endif %}>
		    					    Pcap records from alerts (unified2)
                                </label>
                            </div>
                            {% if sensor_tech.startswith('suri') %}
                                <div id="optionEveLogDiv">
                                    <label class="checkbox">
                                        <input type="checkbox" name="optionEveLog" id="optionEveLog" value="optionEveLog" {% if not manifest or (manifest and manifest['suricata-eve']) %}checked{% endif %}>
                                        EVE log
                                    </label>
                                </div>
                                <label class="checkbox">
                                    <input type="checkbox" name="optionOtherLogs" id="optionOtherLogs" value="optionOtherLogs" {% if not manifest or (manifest and manifest['get-other-logs']) %}checked{% endif %}>
                                    Other logs (Alert Debug, HTTP, TLS, DNS, etc.)
                                </label>
                            {% endif %}
							<label class="checkbox">
								<input type="checkbox" name="optionPerf" id="optionPerf" value="perf" {% if manifest and manifest['track-performance'] %}checked{% endif %}>
								Rule profiling
							</label>
                            {% if sensor_tech.startswith('suri') %}
                                <label class="checkbox">
                                    <input type="checkbox" name="optionFastPattern" id="optionFastPattern" value="optionFastPattern" {% if manifest and manifest['get-fast-pattern'] %}checked{% endif %}>
                                    Fast pattern info
                                </label>
                            {% endif %}
                            <div id="optionDumpBuffersDiv">
							    <label class="checkbox">
								    <input type="checkbox" name="optionDumpBuffers" id="optionDumpBuffers" value="optionDumpBuffers" {% if manifest and manifest['get-buffer-dumps'] %}checked{% endif %}>
								    Dump buffers (alerts only)
							    </label>
                            </div>
                            {% else %}
							<label class="checkbox">
								<input type="checkbox" name="optionZeekJSON" id="optionZeekJSON" value="optionZeekJSON" {% if manifest and manifest['zeek-json-logs'] %}checked{% endif %}>
								JSON Format
							</label>
                            {% endif %}
						</div>
						<div class="tab-pane" id="sensorconf">
							{% if not sensor_tech.startswith('zeek') %}
							<label class="checkbox inline">
                                <input type="checkbox" name="overrideExternalNet" id="overrideExternalNet" value="eoverride" {% if not manifest or (manifest and manifest['override-external-net']) %}checked{% endif %}>
								Override EXTERNAL_NET (set to 'any')
							</label>
                            <div style="display:block;width:100%;padding:0;margin-bottom:5px;margin-top:25px;font-size:21px;line-height:40px;color:#333;border:0;border-top:1px solid #e5e5e5">Configuration File</div>
                                <input type="checkbox" name="optionCustomEngineConf" id="optionCustomEngineConf" value="custom" style="display:none;">
                                Modify {{ sensor_tech.split('/')[0]|title }} configuration{% if sensor_tech.startswith('suri') %}.  This is a YAML file, whitespace is important.{% endif %}
                                <br><a id="showHideOptionCustomEngineConf" href="javascript:void(0)" class="btn btn-default"><i class="glyphicon icon-chevron-right"></i></a>
                                <p>
                            <span id="custom_engineconf" class="span11">
                                <textarea rows='25' cols='50' style='width: 100%;' name="custom_engineconf" id="custom_engineconf_t">{{ engine_conf }}</textarea>
                            </span>
                            {% endif %}
						</div>
					</div>
				</div>

				<div id="uploadDialog" class="modal hide">
					<div class="modal-header">Uploading pcap(s), please wait...</div>
					<div class ="modal-body">
						<div class="progress progress-striped active">
							<div class="bar" style="width: 100%;"></div>
						</div>
					</div>
				</div>
         
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="button" class="btn">Cancel</button>
				</div>

			</form>
		</div>
	</div><!--/row-->
{% endblock %}
