{% extends "dalton/layout.html" %}
{% block js %}
	var MAX_PCAP_FILES = 5;
	$(document).ready(function() {
		$('#prod_ruleset').show();
		if ($('#optionRuleset').prop('checked')) {
			$('#prod_ruleset').show();
			$('#labelEnableAllRules').show();
			$('#labelShowFlowbitAlerts').show();
		} else {
			$('#prod_ruleset').hide();
			$('#labelEnableAllRules').hide();
			$('#labelShowFlowbitAlerts').hide();
		}
		if ($('#optionRulesetCustom').prop('checked')) {
			$('#custom_ruleset').show();
		} else {
			$('#custom_ruleset').hide();
		}
		if ($('#optionCustomVars').prop('checked')) {
			$('#custom_vars').show();
		} else {
			$('#custom_vars').hide();
		}
		if ($('#optionCustomEngineConf').prop('checked')) {
			$('#custom_engineconf').show();
		} else {
			$('#custom_engineconf').hide();
		}

		for(i=1; i < MAX_PCAP_FILES; i++) {
			if ($('#coverage-pcap'+i).val()) {
				$('#pcap'+i).show();
				if (i == MAX_PCAP_FILES -1) {
					$('#addpcap').hide();
				}
			}
		}		

		$('#submitjob').submit( function() {
			$('#uploadDialog').modal()
		});

		$('#optionRuleset').click( function() {
			if ($('#optionRuleset').prop('checked')) {
				$('#prod_ruleset').show();
				$('#labelEnableAllRules').show();
				$('#labelShowFlowbitAlerts').show();
			} else {
				$('#prod_ruleset').hide();
				$('#labelEnableAllRules').hide();
				$('#labelShowFlowbitAlerts').hide();
			}
		});

		$('#optionRulesetCustom').click( function() {
			if ($('#optionRulesetCustom').prop('checked')) {
				$('#custom_ruleset').show();
			} else {
				$('#custom_ruleset').hide();
			}
		});

		$('#optionCustomVars').click( function() {
			if ($('#optionCustomVars').prop('checked')) {
				$('#custom_vars').show();
			} else {
				$('#custom_vars').hide();
			}
		});

		$('#optionCustomEngineConf').click( function() {
			if ($('#optionCustomEngineConf').prop('checked')) {
				$('#custom_engineconf').show();
			} else {
				$('#custom_engineconf').hide();
			}
		});

		$('#addpcap').click( function() {
			for(i=1; i < MAX_PCAP_FILES; i++) {
				if ($('#pcap'+i).is(':hidden')) {
					$('#pcap'+i).show();
					if (i == MAX_PCAP_FILES - 1) {
						$('#addpcap').hide();
					}
					break;
				}
			}
		});

		$('#resetpcap').click( function() {
			<!-- reset file input fields before making them hidden (important!) -->
			for(i=0; i < MAX_PCAP_FILES; i++) {
				reset_file_input($('#coverage-pcap'+i));
				if (i > 0) {
					$('#pcap'+i).hide();
				}
			}
			$('#addpcap').show();
		});

		function reset_file_input(id) {
			<!--	id.replaceWith(id=id.clone(false).val("")); -->
			id.wrap('<form>').closest('form').get(0).reset();
			id.unwrap();
		}

        <!-- called when sensor version changed.  Updates engine.conf data AND variables -->
        $('input[name="sensor_tech"]').change( function() {
            var new_engine_conf = $.get("/dalton/sensor_api/request_engine_conf/" + $(this).attr("id"), function( data ) {
                if (data && data != '') {
                    confs = JSON.parse(data)
                    document.getElementById('custom_engineconf_t').value = confs.conf;
                    document.getElementById('custom_vars_t').value = confs.variables;
                }
            });
        });

    });
{% endblock %}

{% block body %}
	{% if error != None %}
		<div class="alert alert-error">
			<b>An error occured:&nbsp;</b>{{error}}
		</div>
	{% endif %}
	<div class="row-fluid">
		<div class="span12">
			<form id='submitjob' action="/dalton/coverage/summary" method="post" enctype="multipart/form-data">
				<h2>
				Submit A New Job for 
                {% set tlist = sensor_tech.split('-') %}
                {% if tlist|length > 1 %}
                    {{tlist[0]|title}} {{tlist[1:]|join('-')}}
                {% else %}
                    {{sensor_tech|title}}
                {% endif %}
				</h2>
				<p>Test pcaps on an IDS sensor against defined and/or ad-hoc rulesets.</p>
				<div class="tabbable tabs-left">
					<ul class="nav nav-tabs">
						<li class='active'><a href="#pcapdetails" data-toggle='tab'>Packet Capture</a></li>
						<li><a href="#sensorconf" data-toggle='tab'>Sensor Configuration</a></li>
						<li><a href="#notification" data-toggle='tab'>Notification Options</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="pcapdetails">
                            <p>Please specify a packet capture (libpcap). Depending on the engine, pcapng format may be supported as well.</p>
                            <!-- TODO: generate this dynamically via JavaScript -->
							<input type="file" name="coverage-pcap0" id="coverage-pcap0" placeholder='Select a PCAP'><p/>

							<div id="pcap1" style="display:none;">
								<input type="file" name="coverage-pcap1" id="coverage-pcap1" placeholder='Select a PCAP'><p/>
							</div>

							<div id="pcap2" style="display:none;">
								<input type="file" name="coverage-pcap2" id="coverage-pcap2" placeholder='Select a PCAP'><p/>
							</div>
	
							<div id="pcap3" style="display:none;">
								<input type="file" name="coverage-pcap3" id="coverage-pcap3" placeholder='Select a PCAP'><p/>
							</div>
	
							<div id="pcap4" style="display:none;">
								<input type="file" name="coverage-pcap4" id="coverage-pcap4" placeholder='Select a PCAP'><p/>
							</div>
	
							<div id="addpcap" style="display:inline;">
								<a href="#">Add another pcap</a>
								&nbsp;|&nbsp;
							</div>
							<div id="resetpcap" style="display:inline;">
								<a href="#">Reset</a>
							</div>
	
						</div>

                        <!-- TODO: remove this -->
						<div class="tab-pane" id="notification">
							<label class="checkbox">
								<input type="checkbox" id='notify_owner' name='send_email'> Email me results
							</label>
							<label>Email Address:</label>
							<input type="text" name="email_address" value="" placeholder="james.dalton@roadhouse.oisf.net">
						</div>

						<div class="tab-pane" id="sensorconf">
							<div style="display:block;width:100%;padding:0;margin-botton:5x;font-size:21px;line-height:40px;color:#333;border:0;">Sensor Version</div>
                                {% if sensors != None and sensors != '' and sensors|length > 0 %}
                                    {% for sensor in sensors %}
                                        <!-- TODO: make this a grid insead of a list -->
                                        <input type="radio" name="sensor_tech" id="{{sensor}}" value="{{sensor}}"{% if loop.first %} checked{% endif %}><label for="{{sensor}}" class="radio inline">
                                            {% set tlist = sensor.split('-') %}
                                            {% if tlist|length > 1 %}
                                            {{tlist[1:]|join('-')}}
                                            {% else %}
                                                {{sensor|title}}
                                            {% endif %}
                                        </label>
                                        {% if not loop.last %}<br>{% endif %}
                                    {% endfor %}
                                {% else %}
                                    <p style="color:red">No available Dalton Agents (Sensors) for 
                                    {{ sensor_tech.split('-')[0]|title }} 
                                    </p>
                                {% endif %}
							<div style="display:block;width:100%;padding:0;margin-bottom:5px;margin-top:25px;font-size:21px;line-height:40px;color:#333;border:0;border-top:1px solid #e5e5e5">Ruleset</div>
							<label class="checkbox">
								<input type="checkbox" name="optionProdRuleset" id="optionRuleset" value="prod" checked>
								Use a defined ruleset
							</label>
							<span id="prod_ruleset">
								<select name="prod_ruleset" style="width: 400px;">
									{% for ruleset in rulesets %}
										<option value="{{ruleset[1]}}">{{ ruleset[0] }}</option>
									{% endfor %}
								</select>
							</span>
							<label class="checkbox" id="labelEnableAllRules">
								<input type="checkbox" name="optionEnableAllRules" id="optionEnableAllRules" value="enableAll">
								Enable disabled rules
							</label>
							<label class="checkbox" id="labelShowFlowbitAlerts">
								<input type="checkbox" name="optionShowFlowbitAlerts" id="optionShowFlowbitAlerts" value="showFlowbitAlerts">
								Show all flowbit alerts
							</label>
							<br>
							<label class="checkbox">
								<input type="checkbox" name="optionCustomRuleset" id="optionRulesetCustom" value="custom">
								Use custom rules
							</label>
							<span id="custom_ruleset">
								<textarea rows='10' cols='80' style='width: 1000px;' name="custom_ruleset" placeholder='alert tcp any any -> any any (msg:"");'></textarea>
							</span>
							<div style="display:block;width:100%;padding:0;margin-bottom:5px;margin-top:25px;font-size:21px;line-height:40px;color:#333;border:0;border-top:1px solid #e5e5e5">Variables</div>
							<label class="checkbox">
								<input type="checkbox" name="optionCustomVars" id="optionCustomVars" value="custom">
								Modify default variables{% if sensor_tech.startswith('suri') %}.  This is a YAML file, whitespace is important.{% endif %}
							</label>
							<span id="custom_vars">
								<textarea rows='25' cols='50' style='width: 1000px;' name="custom_vars" id="custom_vars_t">{{ variables }}</textarea>
							</span>
							
                            <div style="display:block;width:100%;padding:0;margin-bottom:5px;margin-top:25px;font-size:21px;line-height:40px;color:#333;border:0;border-top:1px solid #e5e5e5">Configuration Files</div>
                            <label class="checkbox">
                                <input type="checkbox" name="optionCustomEngineConf" id="optionCustomEngineConf" value="custom">
                                Modify {{ sensor_tech.split('-')[0]|title }} configuration{% if sensor_tech.startswith('suri') %}.  This is a YAML file, whitespace is important.{% endif %}
                            </label>
                            <span id="custom_engineconf">
                                <textarea rows='25' cols='50' style='width: 1000px;' name="custom_engineconf" id="custom_engineconf_t">{{ engine_conf }}</textarea>
                            </span>

							<div style="display:block;width:100%;padding:0;margin-bottom:5px;margin-top:25px;font-size:21px;line-height:40px;color:#333;border:0;border-top:1px solid #e5e5e5">Performance</div>
							<label class="checkbox">
								<input type="checkbox" name="optionPerf" id="optionPerf" value="perf">
								Enable rule profiling
							</label>			
                            {% if sensor_tech.startswith('suri') %}
                                <label class="checkbox">
                                    <input type="checkbox" name="optionFastPattern" id="optionFastPattern" value="optionFastPattern">
                                    Generate fast pattern info
                                </label>
                            {% endif %}
							<div style="display:block;width:100%;padding:0;margin-bottom:5px;margin-top:25px;font-size:21px;line-height:40px;color:#333;border:0;border-top:1px solid #e5e5e5">Other</div>
							<label class="checkbox">
								<input type="checkbox" name="optionAlertDetailed" id="optionAlertDetailed" value="optionAlertDetailed">
							    Include detailed alerts (unified2 data including pcap data from alerts)
                            </label>
                            {% if sensor_tech.startswith('suri') %}
                            <label class="checkbox">
                                <input type="checkbox" name="optionOtherLogs" id="optionOtherLogs" value="optionOtherLogs">
                                Return all other logs
                            </label>
                            {% endif %}
						</div>
					</div>
				</div>

				<div id="uploadDialog" class="modal hide">
					<div class="modal-header">Uploading pcap(s), please wait...</div>
					<div class ="modal-body">
						<div class="progress progress-striped active">
							<div class="bar" style="width: 100%;"></div>
						</div>
					</div>
				</div>
         
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="button" class="btn">Cancel</button>
				</div>

			</form>
		</div>
	</div><!--/row-->
{% endblock %}
