{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="span11">
            <h1 style="text-align:center;color:#2083BE;font-family:Stencil;">DALTON</h1><h1 style="text-align:center;color:#2083BE;">IDS Rule &#38; Pcap Testing</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="span11">
            <h1>Suricata</h1>
            <p>Test a packet capture against Suricata rules.</p>
            <p><a class="btn btn-primary btn-large" href="/dalton/coverage/suricata/">Go &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="span11">
            <h1>Snort</h1>
            <p>Test a packet capture against Snort rules.</p>
            <p><a class="btn btn-primary btn-large" href="/dalton/coverage/snort/">Go &raquo;</a></p>
        </div>
    </div>
{% endblock %}
