{% extends "dalton/layout.html" %}
{% block js %}
    {% if eve_json != "" %}
        // default syntax hilighting limit (bytes); if lengh greater than this, don't hilight by default.
        var hilightThreshold = 1048576
        // 20191221 - cursory tests show that Google Chrome seems to really strugle with the hilighting
        //            so setting to 100K
        var hilightThresholdChrome = 102400
        if ($.browser.chrome) {
            hilightThreshold = hilightThresholdChrome;
        }

        var eveJSON = JSON.parse('[' + {{eve_json|tojson}}.replace(/\r?\n/g, ',').replace(/,+$/,'') + ']');
        var eventTypeFilters = [];
        {% for event_type in event_types %}
            eventTypeFilters.push("eve-{{event_type}}");
        {% endfor %}
    {% endif %}

    $(document).ready(function() {
        {% if eve_json != "" %}
            if ({{eve_json|length}} > hilightThreshold) {
                console.log("EVE log is " + {{eve_json|length}} + " bytes (" + eveJSON.length + " lines). Turning off syntax highlighting by default.");
                document.getElementById("colorize").checked = false;
            } else {
                console.debug("EVE log is " + {{eve_json|length}} + " bytes (" + eveJSON.length + " lines).");
            }

            function renderEvePane() {
                // identify what filters are checked
                eventFilterEnable = []
                for(i=0; i < eventTypeFilters.length; i++) {
                    if ($('#' + eventTypeFilters[i]).prop('checked')) {
                        eventFilterEnable.push(eventTypeFilters[i].replace(/^eve-/, ''));
                    }
                }
                // build new array of JSON objects with EVE lines
                newEveArray = [];
                if (eventFilterEnable.length == eventTypeFilters.length) {
                    newEveArray = eveJSON;
                } else {
                    for(i=0; i < eveJSON.length; i++) {
                        if (eventFilterEnable.includes(eveJSON[i].event_type)) {
                            newEveArray.push(eveJSON[i]);
                        } 
                    }
                }
                // pretty print (or not), and update DOM
                if ($('#formatEVE').prop('checked')) {
                    document.getElementById("eve-json").textContent = JSON.stringify(newEveArray, null, 2);
                } else {
                    newEve = "["
                    for(i=0; i < newEveArray.length; i++) {
                        // stringify doesn't preserve escaping of forward slashes (e.g. "\/" in original is just "/")
                        newEve += JSON.stringify(newEveArray[i]) + "\n";
                    }
                    if (newEve.length == 1) {
                        newEve = "";
                    } else {
                        newEve = newEve.slice(0,-1) + ']';
                    }
                    document.getElementById("eve-json").textContent = newEve;
                }
                // apply syntax highlighting
                if ($('#colorize').prop('checked')) {
                    hljs.highlightBlock(document.getElementById("eve-json"));
                }
            }

            function addEveFilterListener(myfilter) {
                $('#' + myfilter).click( function() {
                    renderEvePane();
                });
            }

            $('#formatEVE').click( function() {
                renderEvePane();
            });

            $('#darkMode').click( function() {
                if ($('#darkMode').prop('checked')) {
                    document.getElementById("eve-css").setAttribute('href', "{{ url_for('static', filename='highlightjs/styles/eve-dark.css') }}");
                } else {
                    document.getElementById("eve-css").setAttribute('href', "{{ url_for('static', filename='highlightjs/styles/eve-light.css') }}");
                }
                renderEvePane();
            });

            $('#colorize').click( function() {
                renderEvePane();
            });

            eventTypeFilters.forEach(addEveFilterListener);

            renderEvePane();
        {% endif %}

    });
{% endblock %}
{% block body %}
    <div class="row">
        <div class="span11">
            <h2>
		Report for {{jobid}}
        {% set tlist = tech.split('/') %}
        {% if tlist|length > 1 %}
            {% if tlist[1].startswith("rust_") %}
                {{tlist[0]|title}} {{tlist[1][5:]}} ({% if tlist|length > 2 %}{{tlist[2]}} - {% endif %}with Rust support)
            {% else %}
                {{tlist[0]|title}} {{tlist[1]}}{% if tlist|length > 2 %} ({{tlist[2]}}){% endif %}
            {% endif %}
        {% else %}
            {{tech|title}}
        {% endif %}
	    </h2>
            	{% if overview.status == 'Success' %}
	        		Status: <span class='label label-success'>Success</span>
	        	{% else %}
	        		Status: <span class='label label-important'>An error occurred</span>
	        	{% endif %}
	        	&nbsp;&nbsp;&nbsp;
	        	{% if overview.alert_count > 0 %}
	        		Alerts: <span class='badge badge-success'>{{overview.alert_count | int}}</span>
	        	{% else %}
	        		Alerts: <span class='badge badge-info'>{{overview.alert_count | int}}</span>
	        	{% endif %}
			&nbsp;&nbsp;&nbsp;
			Processing Time:
			{% if total_time %}
				{{total_time}}&nbsp;seconds
			{% else %}
				unknown
			{% endif %}
			<br/><br/>
			    <a href="/dalton/sensor_api/get_job/{{jobid}}">Download Job Zipfile</a> (includes pcap(s), rules, and config)
			    <br/><br/>
	        <div class="tabbable">
	            <ul class="nav nav-tabs">
        			{% if error == "" %}
		    		    <li class='active'><a href="#alerts" data-toggle='tab'><i class="icon-warning-sign"></i>&nbsp;Alerts</a></li>
			        {% else %}
				        <li><a href="#alerts" data-toggle='tab'><i class="icon-warning-sign"></i>&nbsp;Alerts</a></li>
			        {% endif %}
                    {% if alert_detailed != "" %}
                        <li><a href="#alert-detailed" data-toggle='tab'><i class="icon-zoom-in"></i>&nbsp;Alert Details</a></li>
                    {% endif %}

                    {% if eve_json != "" %}
                        <li><a href="#eve-json-tab" data-toggle='tab'><i class="icon-leaf"></i>&nbsp;EVE JSON</a></li>
                    {% endif %}

                    <li><a href="#ids" data-toggle='tab'><i class="icon-eye-open"></i>&nbsp;IDS Engine</a></li>
				    {% if perf != "" %}
				  	    <li><a href="#perf" data-toggle='tab'><i class="icon-heart"></i>&nbsp;Performance</a></li>
				    {% endif %}

                    {% if other_logs != "" %}
                        {% for log_description in other_logs %}
                            {% if "Perf" in log_description %}
                                <li><a href="#{{log_description|replace(" ", "_")}}" data-toggle='tab'><i class="icon-heart"></i>&nbsp;{{log_description}}</a></li>
                            {% else %}
                                <li><a href="#{{log_description|replace(" ", "_")}}" data-toggle='tab'><i class="icon-file"></i>&nbsp;{{log_description}}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

				    {% if debug != "" %}
				  	    <li><a href="#debug" data-toggle='tab'><i class="icon-list-alt"></i>&nbsp;Debug</a></li>
				    {% endif %}
				    {% if error != "" %}
				  	    <li class='active'><a href="#error" data-toggle='tab' style="color:#B94A48;"><i class="icon-exclamation-sign"></i><b>&nbsp;Error</b></a></li>
				    {% endif %}
				</ul>
			    <div class="tab-content">
				    {% if error == "" %}
					    <div class="tab-pane active" id="alerts"><pre>{{alert}}</pre></div>
				    {% else %}
					    <div class="tab-pane" id="alerts"><pre>{{alert}}</pre></div>
				    {% endif %}

                    {% if alert_detailed != "" %}
                        <div class="tab-pane" id="alert-detailed"><pre>{{alert_detailed}}</pre></div>
                    {% endif %}

                    {% if eve_json != "" %}
                        <div class="tab-pane" id="eve-json-tab">
                          <div class="span12" style="text-align:center;background-color:#ffffff;">
                            <form class="form-inline">
                                <label class="checkbox inline" style="float:left;">
                                    <input type="checkbox" name="formatEVE" id="formatEVE" value="custom"><span class="label label-success">Format</span>
                                </label>
                                &nbsp;&nbsp;&nbsp;<label class="inline" style=:"text-align:center;"><a href="/dalton/controller_api/v2/{{jobid}}/eve/raw">Download Raw EVE Log</a></label>
                                <label class="checkbox inline" style="float:right;">
                                    <input type="checkbox" name="darkMode" id="darkMode" value="custom"><span class="label label-inverse">Dark Mode</span>
                                </label>
                                <br>
                                <label class="checkbox inline" style="float:left;clear:both;">
                                    <input type="checkbox" name="colorize" id="colorize" value="custom" checked><span class="label label-success">Syntax Highlighting</span>
                                </label>
                            </form>
                            {% if event_types|length > 0 %}
                            <form class="form inline" style="text-align:center;">
                                {% for event_type in event_types %}
                                <label class="checkbox inline">
                                    <input type="checkbox" name="eve-{{event_type}}" id="eve-{{event_type}}" value="custom" checked><span class="label label-info">{{event_type}}</span>
                                </label>
                                {% endfor %}
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            </form>
                            {% endif %}
                          </div>
                            <pre style="font-size:12px;padding: 0.5em;overflow-x: auto;display: block;" name="eve-json" id="eve-json" class="hljs"></pre>
                        </div>
                    {% endif %}

			    	<div class="tab-pane" id="ids"><pre>{{ids}}</pre></div>
			        {% if perf != "" %}
			        	<div class="tab-pane" id="perf"><pre style="font-size:12px">{{perf}}</pre></div>
			        {% endif %}

                    {% if other_logs != "" %}
                        {% for log_description in other_logs %}
                            {% if "Perf" in log_description or "Stats" in log_description %}
                                <div class="tab-pane" id="{{log_description|replace(" ", "_")}}"><pre style="font-size:12px">{{other_logs[log_description]}}</pre></div>
                            {% else %}
                                <div class="tab-pane" id="{{log_description|replace(" ", "_")}}"><pre>{{other_logs[log_description]}}</pre></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if debug != "" %}
    			        <div class="tab-pane" id="debug"><pre>{{debug}}</pre></div>
                    {% endif %}
				{% if error == "" %}
				        <div class="tab-pane" id="error"><pre>{{error}}</pre></div>
				{% else %}
					<div class="tab-pane active" id="error"><pre>{{error}}</pre></div>
				{% endif %}
			    </div>
			</div>
        </div>
    </div>
{% endblock %}
