{% extends "dalton/layout.html" %}
{% block js %}
    var eveJSON = JSON.parse('[' + {{eve_json|tojson}}.replace(/\r?\n/g, ',').replace(/,+$/,'') + ']');
    var eventTypeFilters = [];
    var colorize = true;
    {% for event_type in event_types %}
        eventTypeFilters.push("eve-{{event_type}}");
    {% endfor %}

    $(document).ready(function() {
        if ({{eve_json|length}} > 2000000) {
            console.log("EVE log is " + {{eve_json|length}} + " bytes (" + eveJSON.length + " lines). Turning off syntax highlighting by default.");
            colorize = false;
            document.getElementById("darkMode").disabled = true;
        }

        function updateEveFilters() {
            eventFilterEnable = []
            for(i=0; i < eventTypeFilters.length; i++) {
                if ($('#' + eventTypeFilters[i]).prop('checked')) {
                    eventFilterEnable.push(eventTypeFilters[i].replace(/^eve-/, ''));
                }
            }
            if (eventFilterEnable.length == eventTypeFilters.length) {
                updateFormat(eveJSON);
            } else {
                myEveArray = [];
                for(i=0; i < eveJSON.length; i++) {
                    if (eventFilterEnable.includes(eveJSON[i].event_type)) {
                        myEveArray.push(eveJSON[i]);
                    } 
                }
                updateFormat(myEveArray);
            }
        }

        function updateDarkMode(noredraw) {
            if ($('#darkMode').prop('checked')) {
                document.getElementById("eve-css").setAttribute('href', "{{ url_for('static', filename='highlightjs/styles/eve-dark.css') }}");
            } else {
                document.getElementById("eve-css").setAttribute('href', "{{ url_for('static', filename='highlightjs/styles/eve-light.css') }}");
            }
            if (!Boolean(noredraw)) {
                if (Boolean(colorize)) {
                    hljs.highlightBlock(document.getElementById("eve-json"));
                }
            }
        }

        function updateFormat(myJson) {
            if (myJson == undefined) {
                myJson = eveJSON;
            }
            if ($('#formatEVE').prop('checked')) {
                document.getElementById("eve-json").innerHTML = JSON.stringify(myJson, null, 2);
            } else {
                newEve = ""
                for(i=0; i < myJson.length; i++) {
                    // stringify doesn't preserve escaping of forward slashes (e.g. "\/" in original is just "/")
                    newEve += JSON.stringify(myJson[i]) + "\n";
                }
                document.getElementById("eve-json").innerHTML = newEve;
            }
            if (Boolean(colorize)) {
                hljs.highlightBlock(document.getElementById("eve-json"));
            }
        }

        function addEveFilterListener(myfilter) {
            $('#' + myfilter).click( function() {
                updateEveFilters();
            });
        }

        $('#formatEVE').click( function() {
            updateEveFilters();
        });

        $('#darkMode').click( function() {
            updateDarkMode();
        });

        eventTypeFilters.forEach(addEveFilterListener);

        updateDarkMode(true);
        updateEveFilters();
    });
{% endblock %}
{% block body %}
    <div class="row">
        <div class="span11">
            <h2>
		Report for {{jobid}}
        {% set tlist = tech.split('/') %}
        {% if tlist|length > 1 %}
            {% if tlist[1].startswith("rust_") %}
                {{tlist[0]|title}} {{tlist[1][5:]}} ({% if tlist|length > 2 %}{{tlist[2]}} - {% endif %}with Rust support)
            {% else %}
                {{tlist[0]|title}} {{tlist[1]}}{% if tlist|length > 2 %} ({{tlist[2]}}){% endif %}
            {% endif %}
        {% else %}
            {{tech|title}}
        {% endif %}
	    </h2>
            	{% if overview.status == 'Success' %}
	        		Status: <span class='label label-success'>Success</span>
	        	{% else %}
	        		Status: <span class='label label-important'>An error occurred</span>
	        	{% endif %}
	        	&nbsp;&nbsp;&nbsp;
	        	{% if overview.alert_count > 0 %}
	        		Alerts: <span class='badge badge-success'>{{overview.alert_count | int}}</span>
	        	{% else %}
	        		Alerts: <span class='badge badge-info'>{{overview.alert_count | int}}</span>
	        	{% endif %}
			&nbsp;&nbsp;&nbsp;
			Processing Time:
			{% if total_time %}
				{{total_time}}&nbsp;seconds
			{% else %}
				unknown
			{% endif %}
			<br/><br/>
			    <a href="/dalton/sensor_api/get_job/{{jobid}}">Download Job Zipfile</a> (includes pcap(s), rules, and config)
			    <br/><br/>
	        <div class="tabbable">
	            <ul class="nav nav-tabs">
        			{% if error == "" %}
		    		    <li class='active'><a href="#alerts" data-toggle='tab'><i class="icon-warning-sign"></i>&nbsp;Alerts</a></li>
			        {% else %}
				        <li><a href="#alerts" data-toggle='tab'><i class="icon-warning-sign"></i>&nbsp;Alerts</a></li>
			        {% endif %}
                    {% if alert_detailed != "" %}
                        <li><a href="#alert-detailed" data-toggle='tab'><i class="icon-zoom-in"></i>&nbsp;Alert Details</a></li>
                    {% endif %}

                    {% if eve_json != "" %}
                        <li><a href="#eve-json-tab" data-toggle='tab'><i class="icon-leaf"></i>&nbsp;EVE JSON</a></li>
                    {% endif %}

                    <li><a href="#ids" data-toggle='tab'><i class="icon-eye-open"></i>&nbsp;IDS Engine</a></li>
				    {% if perf != "" %}
				  	    <li><a href="#perf" data-toggle='tab'><i class="icon-heart"></i>&nbsp;Performance</a></li>
				    {% endif %}

                    {% if other_logs != "" %}
                        {% for log_description in other_logs %}
                            {% if "Perf" in log_description %}
                                <li><a href="#{{log_description|replace(" ", "_")}}" data-toggle='tab'><i class="icon-heart"></i>&nbsp;{{log_description}}</a></li>
                            {% else %}
                                <li><a href="#{{log_description|replace(" ", "_")}}" data-toggle='tab'><i class="icon-file"></i>&nbsp;{{log_description}}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

				    {% if debug != "" %}
				  	    <li><a href="#debug" data-toggle='tab'><i class="icon-list-alt"></i>&nbsp;Debug</a></li>
				    {% endif %}
				    {% if error != "" %}
				  	    <li class='active'><a href="#error" data-toggle='tab' style="color:#B94A48;"><i class="icon-exclamation-sign"></i><b>&nbsp;Error</b></a></li>
				    {% endif %}
				</ul>
			    <div class="tab-content">
				    {% if error == "" %}
					    <div class="tab-pane active" id="alerts"><pre>{{alert}}</pre></div>
				    {% else %}
					    <div class="tab-pane" id="alerts"><pre>{{alert}}</pre></div>
				    {% endif %}

                    {% if alert_detailed != "" %}
                        <div class="tab-pane" id="alert-detailed"><pre>{{alert_detailed}}</pre></div>
                    {% endif %}

                    {% if eve_json != "" %}
                        <div class="tab-pane" id="eve-json-tab">
                          <div class="span12" style="text-align:center;background-color:#ffffff;">
                            <form class="form-inline">
                                <label class="checkbox inline" style="float:left;">
                                    <input type="checkbox" name="formatEVE" id="formatEVE" value="custom"><span class="label label-success">Format</span>
                                </label>
                                <label class="inline"><a href="/dalton/controller_api/v2/{{jobid}}/eve/raw">Download Raw EVE Log</a></label>
                                <label class="checkbox inline" style="float:right;">
                                    <input type="checkbox" name="darkMode" id="darkMode" value="custom"><span class="label label-inverse">Dark Mode</span>
                                </label>
                            </form>
                            {% if event_types|length > 1 %}
                            <form class="form inline">
                                {% for event_type in event_types %}
                                <label class="checkbox inline">
                                    <input type="checkbox" name="eve-{{event_type}}" id="eve-{{event_type}}" value="custom" checked><span class="label label-info">{{event_type}}</span>
                                </label>
                                {% endfor %}
                            </form>
                            {% endif %}
                          </div>
                            <pre style="font-size:12px;padding: 0.5em;overflow-x: auto;display: block;" name="eve-json" id="eve-json"></pre>
                        </div>
                    {% endif %}

			    	<div class="tab-pane" id="ids"><pre>{{ids}}</pre></div>
			        {% if perf != "" %}
			        	<div class="tab-pane" id="perf"><pre style="font-size:12px">{{perf}}</pre></div>
			        {% endif %}

                    {% if other_logs != "" %}
                        {% for log_description in other_logs %}
                            {% if "Perf" in log_description or "Stats" in log_description %}
                                <div class="tab-pane" id="{{log_description|replace(" ", "_")}}"><pre style="font-size:12px">{{other_logs[log_description]}}</pre></div>
                            {% else %}
                                <div class="tab-pane" id="{{log_description|replace(" ", "_")}}"><pre>{{other_logs[log_description]}}</pre></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if debug != "" %}
    			        <div class="tab-pane" id="debug"><pre>{{debug}}</pre></div>
                    {% endif %}
				{% if error == "" %}
				        <div class="tab-pane" id="error"><pre>{{error}}</pre></div>
				{% else %}
					<div class="tab-pane active" id="error"><pre>{{error}}</pre></div>
				{% endif %}
			    </div>
			</div>
        </div>
    </div>
{% endblock %}
