Flask==1.1.1
Flask-Assets==0.12
Flask-Script==2.0.6
Flask-Caching==1.8.0
Flask-Compress==1.4.0
redis==2.10.6
# have to go with 0.14 b/c 0.15 won't output fully
#  compatible YAML 1.1 and Suri doesn't like it
#ruamel.yaml==0.14.12
ruamel.yaml==0.15.97
idstools
